:root{
    --bg-main: #1b1f2a;
    --bg-header: #24283b;
    --bg-card: #2a2f45;
    --bg-sidebar: #24283b;
    --bg-content: #2f3553;
    --bg-footer: #24283b;

    --text-main: #e5e7eb;
    --text-secondary: #a1a5c1;
    --accent: #7aa2f7;
}
body{
    background-color: var(--bg-main);
    color: var(--text-main);
}
button{
    padding: 10px 20px;
    background-color: transparent;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
}
h1{
    text-align: center;
    color: var(--text-main);
}
.content p{
    font-style: italic;
    margin: 0;
}
h5{
    font-style: italic;
    color: white;
    margin: 0;
    stroke: none;
}
h4{
    color: var(--accent);
    margin-bottom: 10px;
}
h3{
    color: var(--accent);
    text-align: center;
}
li{
    text-align: left;
    margin-bottom: 5px;
}
.container .profile-pic{
    width: 100px;
    border-radius: 50%;
    margin-top: 5px;
    margin-bottom: 10px;
}
.container{
    display: grid;
    grid-template-columns: 1.5fr 3fr 1.5fr;
    gap: 12px;
    grid-template-areas:
        "sidebar1 header sidebar2"
        "sidebar1 content sidebar2"
        "footer footer footer";
}
.header{
    grid-area: header;
    background-color: transparent;
    min-height: 10vh;
    border-radius: 8px;
    text-align: center;
}
.sidebar1{
    grid-area: sidebar1;
    background-color: var(--bg-sidebar);
    min-height: 100vh;
    border-radius: 8px;
    text-align: center;
    display: none
}
.sidebar2{
    grid-area: sidebar2;
    background-color: var(--bg-sidebar);
    min-height: 100vh;
    border-radius: 8px;
    text-align: center;
    display: none; /* awalnya disembunyikan */
}
.content{
    grid-area: content;
    background-color: var(--bg-content);
    min-height: 100vh;
    border-radius: 8px;
    text-align: center;
}
.footer{
    grid-area: footer;
    background-color: var(--bg-footer);
    min-height: 5vh;
    border-radius: 8px;
    text-align: center;
    color: var(--text-secondary);
}